<div class="container">
  <h3>送信が完了しました</h3>
  <div class="mt-4">内容は以下の通りです。</div>
  <div class="my-2">[Title]<br> <%= @mail_title %> </div>
  <div class="my-2">[Content]<br> <%= @mail_content %> </div>
</div>